* {
    font-family: TradeGothic;
    color: white;
    padding: 0;
    margin: 0;
}

body {
    background-color: #191919;
    width: 100vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    min-height: 56px;
    color: white;
    background-color: #212121;
    width: 100%;

    position: sticky;
    left: 0;
    top: 0;
    right: 0;

    padding: 0 20px;
    box-sizing: border-box;
}

nav ul {
    float: right;
    text-align: right;
}

nav ul li {
    margin: 10px;
    display: inline-block;
}

nav ul li a {
    opacity: 0.75;
}

nav ul li a#current-page {
    opacity: 1;
    font-weight: bold;
}

nav ul li a:hover {
    padding-bottom: 2px;
    border-bottom: 3px solid gray;
}

nav a {
    color: inherit;
    text-decoration: none;
}

.logo {
    height: 35px;
}

.content {
    width: 100vw;
}

.content p {
    width: 80%;
    max-width: 800px;
    text-align: justify;
}

.content h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    font-family: TradeGothicBoldCondensed;
    font-size: 65px;
}

.content img {
    width: 80%;
    max-width: 600px;
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.content p a {
    color: lightgray; 
    border-bottom: 1px solid gray;
}

.content .character {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 800px;
    border: 1px solid white;
    padding: 50px;
}

.content .character img {
    width: 200px;
    display: inline-block;
}

.content .character h1 {
    display: inline-block;
    margin-left: 50px;
    text-align: left;
    font-size: 45px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.quote {
    padding-left: 15px;
    border-left: 2px solid gray;
}

@font-face {
    font-family: "TradeGothic";
    src: url("http://i.annihil.us/u/prod/marvel/s/font/tradegot-webfont.eot");
    src: url("http://i.annihil.us/u/prod/marvel/s/font/tradegot-webfont.eot?#iefix") format("embedded-opentype"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegot-webfont.woff") format("woff"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegot-webfont.ttf") format("truetype"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegot-webfont.svg#RobotoBold") format("svg");
    font-style: normal;
    font-weight: normal; }
  
  @font-face {
    font-family: "TradeGothicBold";
    src: url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbol-webfont.eot");
    src: url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbol-webfont.eot?#iefix") format("embedded-opentype"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbol-webfont.woff") format("woff"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbol-webfont.ttf") format("truetype"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbol-webfont.svg#RobotoBold") format("svg");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: "TradeGothicBoldOblique";
    src: url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbolobl-webfont.eot");
    src: url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbolobl-webfont.eot?#iefix") format("embedded-opentype"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbolobl-webfont.woff") format("woff"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbolobl-webfont.ttf") format("truetype"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbolobl-webfont.svg#RobotoBold") format("svg");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: "TradeGothicBoldTwo";
    src: url("http://i.annihil.us/u/prod/marvel/s/font/tradegotboltwo-webfont.eot");
    src: url("http://i.annihil.us/u/prod/marvel/s/font/tradegotboltwo-webfont.eot?#iefix") format("embedded-opentype"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotboltwo-webfont.woff") format("woff"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotboltwo-webfont.ttf") format("truetype"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotboltwo-webfont.svg#RobotoBold") format("svg");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: "TradeGothicBoldCondensed";
    src: url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbolcontwe-webfont.eot");
    src: url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbolcontwe-webfont.eot?#iefix") format("embedded-opentype"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbolcontwe-webfont.woff") format("woff"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbolcontwe-webfont.ttf") format("truetype"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbolcontwe-webfont.svg#RobotoBold") format("svg");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: "TradeGothicCondensed";
    src: url("http://i.annihil.us/u/prod/marvel/s/font/tradegotconeig-webfont.eot");
    src: url("http://i.annihil.us/u/prod/marvel/s/font/tradegotconeig-webfont.eot?#iefix") format("embedded-opentype"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotconeig-webfont.woff") format("woff"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotconeig-webfont.ttf") format("truetype"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotconeig-webfont.svg#RobotoBold") format("svg");
    font-weight: normal;
    font-style: normal; }

    